@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

#navbar {
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.navbar-item-index {
    float: left;							
    width: 20%;			
    padding: 10px 0px;
}

.navbar-item-privpol {
    float: left;							
    width: 25%;			
    padding: 10px 0px;
}

/* Clear floats after the columns */
#navbar:after {
    content: "";
    display: table;
    clear: both;
}

/* width percentage accounts for margin and padding */
* {
    box-sizing: border-box;
}

@media screen and (max-width: 700px) {
    .navbar-item {
        width: 100%;
        padding: 5px;
    }
}

#navbar a {
    font-family: Montserrat, sans-serif;
    color: #dddddd;
}

#navbar a:link { 
    color: #dddddd;
    text-decoration: none;
}

#navbar a:visited {
    color: #dddddd;
    text-decoration: none;
}

#navbar a:hover {
    color: #dddddd;
    text-decoration: none;
} 

#navbar a:active {
    color: #dddddd;
    text-decoration: none;
}
